// Colors
$gray:   #f4f4f4;
$gray-2: #DAD9D7;
$gray-3: #f9f9f9;
$gray-4: #7F7C74;
$pitch:  #000000;
$black:  #474337;
$black-2:#5C5646;
$white:  #ffffff;

$blue-1: #50A9CD;
$blue-2: #285E71;
$blue-3: #E8F8FF;
$blue-4: #0D739C;

$green-1: #3D5124;
$green-2: #A4DA5F;
$green-3: #95C056;
$green-4: #5C812F;

$heading-color: $blue-2;
$link-color: $green-1;
$overlay-color: #0E0E01;

// Fonts
$font: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
