.page-node-type-event,
.page-node-type-news,
.page-node-type-listing-page {
  .block-hero { margin-bottom: 4rem; }
  .block-hero:after { display: none; }

}

.page-node-type-listing-page .views-element-container .view-bene-events {
  display: block;
}

.field--name-bene-listing-view {
  .view-filters {
    @include span-columns(3);

    @include mq(tablet) {
      @include span-columns(12);
    }

    @include mq(mobile) {
      @include span-columns(12);
    }

    .form-item {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    .form-item-search,
    .form-item-keys {
      margin-bottom: 2rem;
    }

    label {
      @include font-style('ss');
      font-size: rem(14);
      color: $black;
      margin-bottom: 0.5rem;
      display: block;
    }

    input[type=text],
    input[type=date] {
      background: $white;
      border-radius: 0;
      border: none;
      display: block;
      padding: 1rem;
      width: 100%;
    }

    input[type=submit] {
      @include font-style('ss-semibold');
      background: transparent;
      border: rem(2) solid $green-1;
      border-radius: rem(50);
      color: $green-1;
      font-size: rem(16);
      letter-spacing: 0;
      margin-top: 1rem;
      padding: 0.75rem 1.5rem;
      text-transform: none;

      &:hover {
        background-color: $green-1;
        color: $white;
      }
    }

    input[type=submit]#edit-reset {
      background: none;
      color: $link-color;
      @include font-style('ss');
      padding: 0;
      float: right;
      font-size: rem(13);
      letter-spacing: 0;
      margin-right: 0;

      &:hover { color: $gray-4; }
    }

    input[type=date] {
      background: $white url('../img/calendar.svg') 1rem center no-repeat;
      padding-left: 3rem;
    }
  }

  .view-content {
    display: block;
    @include span-columns(8);
    @include shift(1);
    @include omega();


    @include mq(mobile) {
      @include span-columns(12);
      @include shift(0);
    }

    @include mq(tablet) {
      @include span-columns(12);
      @include shift(0);
    }
  }

  .views-row {
    @include span-columns(12);
    clear: both;
    border-bottom: rem(4) solid $gray;
    padding-bottom: 2rem;
    margin-bottom: 2rem;

    &:last-child {
      border-bottom: none;
    }
  }

  .node--view-mode-teaser .image,
  .node--view-mode-search-result .image {
    @include span-columns(3);

    @include mq(mobile) {
      @include span-columns(12);
    }

    img {
      height: auto;
      width: 100%;
    }
  }

  .node--view-mode-teaser .text,
  .node--view-mode-search-result .text {
    @include span-columns(8);
    @include shift(0.25);

    @include mq(mobile) {
      @include span-columns(12);
      @include shift(0);
    }
  }

  .node--view-mode-search-result .field--name-bene-event-date-range {
    color: $black;
    margin: 0;
    padding: 0;
    float: none;
    width: 100%;

    font-size: rem(16);
    @include font-style('ss');
  }

  .node--view-mode-teaser h4,
  .node--view-mod-search-result h4 {
    margin-bottom: 1rem;
  }

  .node--view-mode-teaser .field--name-bene-intro,
  .node--view-mode-teaser .field--name-bene-intro,
  .node--view-mode-search-result .field--name-bene-intro,
  .node--view-mode-search-result .field--name-bene-intro p {
    margin-top: 0;
    @include font-style('ss');
    font-size: 1rem;
    line-height: rem(34);
    padding: 0;
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
  }
}
