#block-benenewslettersignup {
  background: $blue-2;

  .external-newsletter h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-weight: 600;
  }

  input[type='submit'] {
    text-transform: capitalize;
  }

  @include mq(mobile) {
    .external-newsletter .mailchimp-signup-subscribe-form, 
    .external-newsletter .mailchimp-newsletter-mergefields {
      flex-direction: column;
      align-items: center;
    }
  }
}

.external-newsletter {
  background: $blue-2;
  display: block;
  @include outer-container;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;

  form .form-item {
    text-align: left;
    @include mq(mobile) {
      width: auto;
    }
  }

  p,
  h4 {
    color: $gray-3;
    font-size: rem(26);
    @include font-style('ss-semibold');
    letter-spacing: 0;
    text-transform: none;
    display: inline-block;

    @include mq(mobile) {
      font-size: rem(20);
      margin-bottom: 1rem;
    }
  }

  a.button {
    @include font-style('ss-semibold');
    background: transparent;
    border: rem(2) solid $white;
    border-radius: rem(50);
    color: $white;
    font-size: rem(20);
    letter-spacing: 0;
    margin-left: 1rem;
    padding: 0.75rem 3rem;

    &:hover {
      background-color: $white;
      color: $blue-2;
    }
  }
}
