.block-bene-footer-block {
  .menu .menu-item a {
    text-transform: uppercase;
  }

  .contact-links .additional-contact {
    margin-top: 1rem;
  }

  .social-links a {
    border-radius: 0;
  }

  .social-links .facebook {
    background-image: url('../img/facebook-black.svg'); 
  }

  .social-links .twitter {
    background-image: url('../img/twitter-black.svg'); 
  }

  .social-links .instagram {
    background-image: url('../img/instagram-black.svg'); 
  }
}
