/* Colors */
$black:  #000000;
$purple: #88287B;
$dark-purple: #55184D;
$white:  #FFFFFF;
$gray:   #727171;
$ltgray: #F4F4F4;
$blue:   #226E8A;
$dark-blue: #21586C;
$chartreuse: #B8D300;

$header-link: #727171;

/* Fonts */
$font: 'Source Sans Pro', sans-serif;
