@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700";
:root {
  --color-theme-primary: #285E71;
  --color-theme-primary-darken20: #0d1f26;
  --color-theme-primary-lighten20: #439dbc;
  --color-theme-primary-bright: #5C812F;
  --color-theme-primary-bright-darken20: #273614;
  --color-theme-primary-bright-lighten20: #90c155;
  --color-text-primary: #000000;
  --color-text-secondary: #474337;
  --color-text-accent: #474337;
  --color-text-placeholder: #DAD9D7;
  --color-text-medium-dark: #7F7C74;
  --color-text-inverse: white;
  --color-text-light: #f9f9f9;
  --color-text-link: #3D5124;
  --color-background-default: white;
  --color-background-lightest: white;
  --color-background-darker: #5C5646;
  --color-background-darkest: black;
  --social-icon-color: #3D5124;
  --social-icon-color-darken20: #7F7C74;
  --font-family-primary: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  --font-family-secondary: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
  --font-weight-menu-primary: 'ss-semibold'; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: #f4f4f4;
  font-size: 18px;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 2rem; }

body.user-logged-in .region.region-content {
  background-color: transparent; }

a {
  color: #3D5124; }
  a:hover {
    color: #7F7C74; }

h3 {
  color: #285E71;
  font-size: 2rem;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem; }

.page-node-type-page .region-content {
  margin-bottom: 0; }

body.path-user .region.region-content,
body.user-logged-in .region.region-content {
  background-color: transparent; }

.user-logged-in #block-bene-child-local-tasks li {
  background-color: #ffffff; }
  .user-logged-in #block-bene-child-local-tasks li a {
    background-color: #0D739C; }
    .user-logged-in #block-bene-child-local-tasks li a:hover {
      background-color: #285E71; }
    .user-logged-in #block-bene-child-local-tasks li a.is-active {
      background-color: #50A9CD; }
@media (min-width: 769px) {
  .user-logged-in #block-bene-child-local-tasks .show-hide {
    height: 2.875rem;
    line-height: 2.875rem; } }
.user-logged-in #block-bene-child-local-tasks .show-hide span {
  background-image: url("../img/svg/line-arrow.svg") !important; }

.block-hero {
  display: block;
  min-height: 20.8125rem; }
  .block-hero h1 {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.55);
    bottom: 0;
    font-size: 2.875rem;
    line-height: 3.5rem;
    padding: 1rem;
    position: absolute;
    text-align: left;
    width: 100%; }
    @media (min-width: 769px) {
      .block-hero h1 {
        padding: 1rem 1.5rem; } }
  .block-hero h1 span {
    display: inline-block;
    max-width: 53.75rem; }
  .block-hero .field--name-bene-lead a {
    margin-left: 0.5rem; }

a.button,
.button,
.region-content form input[type=submit],
.page-node-type-page .block-system-main-block .paragraph--type--feature-full-width .field--name-field-link a {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  background-color: transparent;
  border: 0.125rem solid #5C812F;
  border-radius: 3.125rem;
  color: #5C812F;
  text-transform: none;
  font-size: 1.25rem;
  letter-spacing: 0;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  -webkit-transition: 0.5s background-color, 0.5s color, 0.5s border;
  -moz-transition: 0.5s background-color, 0.5s color, 0.5s border;
  transition: 0.5s background-color, 0.5s color, 0.5s border; }
  a.button:hover,
  .button:hover,
  .region-content form input[type=submit]:hover,
  .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width .field--name-field-link a:hover {
    background-color: #5C812F;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.5s background-color, 0.5s color, 0.5s border;
    -moz-transition: 0.5s background-color, 0.5s color, 0.5s border;
    transition: 0.5s background-color, 0.5s color, 0.5s border; }

a.button-solid,
.button-solid,
.page-node-type-page .block-system-main-block .paragraph--type--feature-full-width.image .field--name-field-link a {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  background-color: #5C812F;
  border: 0.125rem solid #5C812F;
  border-radius: 3.125rem;
  color: #ffffff;
  font-size: 1.25rem;
  letter-spacing: 0;
  padding: 0.75rem 1.5rem;
  -webkit-transition: 0.5s background-color, 0.5s color, 0.5s border;
  -moz-transition: 0.5s background-color, 0.5s color, 0.5s border;
  transition: 0.5s background-color, 0.5s color, 0.5s border; }
  a.button-solid:hover,
  .button-solid:hover,
  .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width.image .field--name-field-link a:hover {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #5C812F;
    -webkit-transition: 0.5s background-color, 0.5s color, 0.5s border;
    -moz-transition: 0.5s background-color, 0.5s color, 0.5s border;
    transition: 0.5s background-color, 0.5s color, 0.5s border; }

.site-header {
  background-color: #ffffff; }

.site-header .desktop-nav .menu-item--collapsed {
  list-style: none; }
@media (min-width: 769px) {
  .site-header .desktop-nav .menu {
    display: block;
    text-align: right; } }
.site-header .desktop-nav .menu li {
  display: inline; }
@media (min-width: 769px) {
  .site-header .desktop-nav .menu--utility {
    margin-top: 1.5rem; } }
.site-header .desktop-nav .menu--utility .menu-item a {
  color: #3D5124;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase; }
.site-header .desktop-nav .menu--utility .menu-item.menu-item--active-trail a,
.site-header .desktop-nav .menu--utility .menu-item a:hover,
.site-header .desktop-nav .menu--utility .menu-item a.is-active {
  color: #7F7C74; }
.site-header .desktop-nav .menu--utility .menu-item:last-child a {
  background: none;
  color: #3D5124;
  border-radius: 0;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: inherit;
  padding: 0;
  top: 0; }
.site-header .desktop-nav .menu--main .menu-item a {
  color: #3D5124;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.03375rem;
  text-transform: none; }
  @media (min-width: 769px) {
    .site-header .desktop-nav .menu--main .menu-item a {
      margin-left: 1.5rem; } }
  @media (min-width: 769px) and (max-width: 1076px) {
    .site-header .desktop-nav .menu--main .menu-item a {
      font-size: 0.875rem;
      margin-left: 1rem; } }
.site-header .desktop-nav .menu--main .menu-item.menu-item--active-trail a,
.site-header .desktop-nav .menu--main .menu-item a:hover,
.site-header .desktop-nav .menu--main .menu-item a.is-active {
  color: #7F7C74; }
.site-header .desktop-nav .menu--main .menu-item:last-child a {
  color: #3D5124;
  background-color: none;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 0; }
  @media (min-width: 769px) and (max-width: 1076px) {
    .site-header .desktop-nav .menu--main .menu-item:last-child a {
      font-size: 0.875rem; } }
.site-header .desktop-nav .menu--main .menu-item:last-child a:hover {
  background-color: none;
  color: #3D5124; }

.region-footer {
  background: #ffffff; }

.block-bene-footer-block {
  background: var(--color-background-default) url("../img/wri-logo-stacked.svg") no-repeat center center;
  background-size: 8.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .block-bene-footer-block .menu {
    margin-bottom: 1rem; }
  .block-bene-footer-block .menu .menu-item a {
    color: var(--color-text-link); }
  @media (max-width: 414px) {
    .block-bene-footer-block {
      background: var(--color-background-default) url("../logo.svg") no-repeat 1rem 1rem;
      background-size: 70%;
      display: block;
      padding-top: 7rem; } }
  .block-bene-footer-block div.social-links span:first-child a {
    margin-left: 0; }
  @media (max-width: 414px) {
    .block-bene-footer-block div.social-links {
      display: inline-block; } }
  @media (max-width: 414px) {
    .block-bene-footer-block div.social-links span {
      margin-right: 0.5rem; } }
  .block-bene-footer-block .wri-logo {
    position: absolute;
    display: block;
    left: 50%;
    top: 2.625rem;
    margin-left: -4.375rem;
    width: 8.75rem;
    height: 9.0625rem; }
    @media (max-width: 414px) {
      .block-bene-footer-block .wri-logo {
        top: 0.625rem;
        margin-left: -12.3125rem;
        width: 18.75rem;
        height: 5.625rem; } }
  .block-bene-footer-block .contact-links {
    color: var(--color-text-link);
    font-size: 0.875rem;
    text-align: right; }
    @media (max-width: 414px) {
      .block-bene-footer-block .contact-links {
        text-align: left; } }
  .block-bene-footer-block div.social-links {
    justify-content: flex-start;
    margin-top: 0; }
  .block-bene-footer-block div.social-links a {
    border-radius: 0; }

@media (min-width: 769px) {
  .region-content form {
    margin-left: 0;
    padding: 0;
    width: 95%; } }

.block-bene-home-page-feature-block {
  text-align: left;
  padding: 0 0;
  background-color: transparent;
  min-height: 23.75rem; }
  @media (min-width: 769px) {
    .block-bene-home-page-feature-block {
      min-height: 37.6875rem; } }
  .block-bene-home-page-feature-block .text {
    background: var(--color-theme-primary);
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
    @media (min-width: 769px) {
      .block-bene-home-page-feature-block .text {
        background: rgba(0, 0, 0, 0.55);
        padding: 2.5rem 2rem; } }
    .block-bene-home-page-feature-block .text a {
      color: var(--color-text-inverse);
      text-decoration: underline;
      margin-left: 0.3rem; }
      .block-bene-home-page-feature-block .text a:after {
        content: ' >'; }
  .block-bene-home-page-feature-block .field--name-bene-lead {
    font-size: 1.125rem;
    line-height: 1.875rem; }
    @media (max-width: 414px) {
      .block-bene-home-page-feature-block .field--name-bene-lead {
        line-height: normal;
        padding-top: 0; } }
  .block-bene-home-page-feature-block .field--name-bene-title {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    margin: 0 0 0;
    max-width: none;
    font-size: 1.5rem;
    line-height: 1.9375rem;
    text-align: left; }
    @media (min-width: 769px) {
      .block-bene-home-page-feature-block .field--name-bene-title {
        font-size: 2.625rem;
        line-height: 3.375rem; } }
  .block-bene-home-page-feature-block .field--name-bene-link {
    position: static;
    z-index: auto; }
    .block-bene-home-page-feature-block .field--name-bene-link a {
      border: medium none var(--color-text-primary);
      padding: 0 0;
      font-size: 1em;
      text-transform: none; }
      .block-bene-home-page-feature-block .field--name-bene-link a:hover {
        color: var(--color-text-primary); }

.page-node-type-page .block-system-main-block .field--name-bene-intro {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: auto; }
  @media (max-width: 414px) {
    .page-node-type-page .block-system-main-block .field--name-bene-intro {
      padding-left: 1rem;
      padding-right: 1rem; } }
  .page-node-type-page .block-system-main-block .field--name-bene-intro:last-child {
    margin-left: auto;
    margin-right: auto; }
  @media (min-width: 769px) {
    .page-node-type-page .block-system-main-block .field--name-bene-intro {
      padding: 0; } }
  .page-node-type-page .block-system-main-block .field--name-bene-intro p {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 700; }
    @media (min-width: 769px) {
      .page-node-type-page .block-system-main-block .field--name-bene-intro p {
        font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
        font-weight: 600;
        font-size: 1.5rem; } }
  .page-node-type-page .block-system-main-block .field--name-bene-intro a {
    color: #3D5124;
    text-decoration: underline; }
  .page-node-type-page .block-system-main-block .field--name-bene-intro a.button {
    color: #5C812F;
    text-decoration: none;
    text-transform: none; }
    .page-node-type-page .block-system-main-block .field--name-bene-intro a.button:hover {
      color: #ffffff; }
.page-node-type-page .block-system-main-block .paragraph--type--rich-text {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  float: none; }
  @media (max-width: 414px) {
    .page-node-type-page .block-system-main-block .paragraph--type--rich-text {
      padding-left: 1rem;
      padding-right: 1rem; } }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text:last-child {
    margin-left: auto;
    margin-right: auto; }
  @media (min-width: 769px) {
    .page-node-type-page .block-system-main-block .paragraph--type--rich-text {
      padding: 0; } }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text p {
    color: #474337;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem; }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text ul,
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text ol {
    margin-top: 1rem; }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text ul li,
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text ol li {
    color: #474337;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem; }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text a {
    color: #3D5124;
    text-decoration: underline; }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text a.button {
    color: #5C812F;
    text-decoration: none;
    text-transform: none; }
    .page-node-type-page .block-system-main-block .paragraph--type--rich-text a.button:hover {
      color: #ffffff; }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text h2 {
    color: #285E71;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 1.5rem; }
    @media (min-width: 769px) {
      .page-node-type-page .block-system-main-block .paragraph--type--rich-text h2 {
        font-size: 2.25rem;
        line-height: 2.75rem; } }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text h3 {
    color: #285E71;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem; }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text h4 {
    color: #285E71;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.9375rem;
    letter-spacing: 0;
    text-transform: none; }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text h5 {
    color: #285E71;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    margin-bottom: 0.5rem;
    text-transform: none; }
  .page-node-type-page .block-system-main-block .paragraph--type--rich-text blockquote {
    border-top: 0.0625rem solid #DAD9D7;
    border-bottom: 0.0625rem solid #DAD9D7;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 100%; }
    .page-node-type-page .block-system-main-block .paragraph--type--rich-text blockquote:after {
      display: none; }
    .page-node-type-page .block-system-main-block .paragraph--type--rich-text blockquote p {
      color: #50A9CD;
      font-size: 1.75rem;
      font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
      font-weight: 600;
      line-height: 2.5rem;
      font-style: normal;
      max-width: 90%;
      margin-left: auto;
      margin-right: auto; }
.page-node-type-page .block-system-main-block .paragraph--type--feature-full-width {
  background-color: #ffffff;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width:before {
    display: none; }
  .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width .field--name-field-title {
    color: #285E71;
    font-size: 2rem; }
    .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width .field--name-field-title:after {
      background: #DAD9D7;
      border-radius: 50px;
      content: '';
      display: block;
      height: 0.125rem;
      margin: 1.5rem auto 0;
      width: 50%; }
  .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width .field--name-field-text p {
    color: #5C5646;
    font-size: 1.375rem;
    line-height: 2rem;
    max-width: 675px; }
    @media (min-width: 769px) {
      .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width .field--name-field-text p {
        font-size: 1.5rem; } }
  .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width.image:after {
    content: '';
    background: rgba(14, 14, 1, 0.55);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }
  .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width.image .field--name-field-title {
    color: #ffffff; }
    .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width.image .field--name-field-title:after {
      display: none; }
  .page-node-type-page .block-system-main-block .paragraph--type--feature-full-width.image .field--name-field-text p {
    color: #ffffff; }
.page-node-type-page .block-system-main-block .paragraph--type--media,
.page-node-type-page .block-system-main-block .embedded-entity {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  @media (max-width: 414px) {
    .page-node-type-page .block-system-main-block .paragraph--type--media,
    .page-node-type-page .block-system-main-block .embedded-entity {
      padding-left: 1rem;
      padding-right: 1rem; } }
  .page-node-type-page .block-system-main-block .paragraph--type--media:last-child,
  .page-node-type-page .block-system-main-block .embedded-entity:last-child {
    margin-left: auto;
    margin-right: auto; }
  .page-node-type-page .block-system-main-block .paragraph--type--media.align-left,
  .page-node-type-page .block-system-main-block .embedded-entity.align-left {
    margin-right: 1rem;
    margin-top: 1.5rem; }
    @media (max-width: 414px) {
      .page-node-type-page .block-system-main-block .paragraph--type--media.align-left,
      .page-node-type-page .block-system-main-block .embedded-entity.align-left {
        float: none;
        margin: 1rem 0;
        padding: 0; } }
  .page-node-type-page .block-system-main-block .paragraph--type--media.align-right,
  .page-node-type-page .block-system-main-block .embedded-entity.align-right {
    margin-left: 1rem;
    margin-top: 1.5rem; }
    @media (max-width: 414px) {
      .page-node-type-page .block-system-main-block .paragraph--type--media.align-right,
      .page-node-type-page .block-system-main-block .embedded-entity.align-right {
        float: none;
        margin: 1rem 0;
        padding: 0; } }
  .page-node-type-page .block-system-main-block .paragraph--type--media.embedded-half,
  .page-node-type-page .block-system-main-block .embedded-entity.embedded-half {
    max-width: 50%; }
    @media (max-width: 414px) {
      .page-node-type-page .block-system-main-block .paragraph--type--media.embedded-half,
      .page-node-type-page .block-system-main-block .embedded-entity.embedded-half {
        max-width: none; } }
  .page-node-type-page .block-system-main-block .paragraph--type--media .field--name-image,
  .page-node-type-page .block-system-main-block .embedded-entity .field--name-image {
    line-height: 0;
    text-align: center; }
  .page-node-type-page .block-system-main-block .paragraph--type--media img,
  .page-node-type-page .block-system-main-block .embedded-entity img {
    max-width: 100%;
    height: auto;
    width: 100%; }
  .page-node-type-page .block-system-main-block .paragraph--type--media .field--name-field-caption,
  .page-node-type-page .block-system-main-block .embedded-entity .field--name-field-caption {
    background: #ffffff; }
  .page-node-type-page .block-system-main-block .paragraph--type--media figcaption,
  .page-node-type-page .block-system-main-block .embedded-entity figcaption {
    background: #ffffff;
    display: block;
    width: 100%;
    color: #474337;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    font-style: normal;
    padding: 0.2rem 0.5rem; }
.page-node-type-page .block-system-main-block .paragraph--type--media {
  max-width: 100%;
  width: 100%; }
  .page-node-type-page .block-system-main-block .paragraph--type--media .media-video {
    background: #f4f4f4;
    margin-left: 0;
    max-width: 100%;
    padding: 0;
    width: 100%; }
  .page-node-type-page .block-system-main-block .paragraph--type--media iframe {
    width: 100%; }

.page-node-type-news .block-hero,
.page-node-type-event .block-hero {
  margin-bottom: 4rem; }
.page-node-type-news .field--name-bene-date,
.page-node-type-event .field--name-bene-date {
  width: 65.88078%;
  margin-left: 17.05961%;
  padding: 0 2%; }
  .page-node-type-news .field--name-bene-date time,
  .page-node-type-event .field--name-bene-date time {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .page-node-type-news .field--name-bene-date time:last-child,
    .page-node-type-event .field--name-bene-date time:last-child {
      margin-right: 0; }
.page-node-type-news .field--name-bene-date time,
.page-node-type-news .field--name-bene-event-date-range time,
.page-node-type-event .field--name-bene-date time,
.page-node-type-event .field--name-bene-event-date-range time {
  color: #3D5124;
  font-size: 1rem;
  font-weight: normal;
  text-align: left; }
.page-node-type-news .field--name-bene-event-date-range,
.page-node-type-event .field--name-bene-event-date-range {
  margin-bottom: 0; }
.page-node-type-news .block-system-main-block .field--name-bene-intro,
.page-node-type-event .block-system-main-block .field--name-bene-intro {
  margin-left: 0;
  color: #474337;
  margin-bottom: 0;
  width: 100%; }
  .page-node-type-news .block-system-main-block .field--name-bene-intro p,
  .page-node-type-event .block-system-main-block .field--name-bene-intro p {
    font-size: 1rem;
    line-height: 1.9375rem;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 600; }
.page-node-type-news .field--name-bene-event-location:after,
.page-node-type-event .field--name-bene-event-location:after {
  content: '';
  clear: both;
  border-bottom: 0.25rem solid #7F7C74;
  display: block; }
.page-node-type-news .field--name-bene-event-location > .field__item,
.page-node-type-event .field--name-bene-event-location > .field__item {
  display: inline;
  float: left; }
.page-node-type-news .field--name-bene-event-location .field__label,
.page-node-type-event .field--name-bene-event-location .field__label {
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #3D5124; }
.page-node-type-news .field--name-bene-event-location .field__item,
.page-node-type-event .field--name-bene-event-location .field__item {
  color: #474337; }
.page-node-type-news .field--name-bene-event-location .address,
.page-node-type-event .field--name-bene-event-location .address {
  display: none; }
.page-node-type-news .field--name-bene-event-location .organization,
.page-node-type-news .field--name-bene-event-location .country,
.page-node-type-news .field--name-bene-event-location .postal-code,
.page-node-type-news .field--name-bene-event-location .administrative-area,
.page-node-type-news .field--name-bene-event-location .locality,
.page-node-type-news .field--name-bene-event-location .address-line2,
.page-node-type-news .field--name-bene-event-location .address-line1,
.page-node-type-event .field--name-bene-event-location .organization,
.page-node-type-event .field--name-bene-event-location .country,
.page-node-type-event .field--name-bene-event-location .postal-code,
.page-node-type-event .field--name-bene-event-location .administrative-area,
.page-node-type-event .field--name-bene-event-location .locality,
.page-node-type-event .field--name-bene-event-location .address-line2,
.page-node-type-event .field--name-bene-event-location .address-line1 {
  display: inline;
  font-size: 1rem; }

.page-node-type-event .block-hero,
.page-node-type-news .block-hero,
.page-node-type-listing-page .block-hero {
  margin-bottom: 4rem; }
.page-node-type-event .block-hero:after,
.page-node-type-news .block-hero:after,
.page-node-type-listing-page .block-hero:after {
  display: none; }

.page-node-type-listing-page .views-element-container .view-bene-events {
  display: block; }

.field--name-bene-listing-view .view-filters {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  .field--name-bene-listing-view .view-filters:last-child {
    margin-right: 0; }
  @media (min-width: 769px) and (max-width: 1239px) {
    .field--name-bene-listing-view .view-filters {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .field--name-bene-listing-view .view-filters:last-child {
        margin-right: 0; } }
  @media (max-width: 414px) {
    .field--name-bene-listing-view .view-filters {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .field--name-bene-listing-view .view-filters:last-child {
        margin-right: 0; } }
  .field--name-bene-listing-view .view-filters .form-item {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.5rem; }
  .field--name-bene-listing-view .view-filters .form-item-search,
  .field--name-bene-listing-view .view-filters .form-item-keys {
    margin-bottom: 2rem; }
  .field--name-bene-listing-view .view-filters label {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #474337;
    margin-bottom: 0.5rem;
    display: block; }
  .field--name-bene-listing-view .view-filters input[type=text],
  .field--name-bene-listing-view .view-filters input[type=date] {
    background: #ffffff;
    border-radius: 0;
    border: none;
    display: block;
    padding: 1rem;
    width: 100%; }
  .field--name-bene-listing-view .view-filters input[type=submit] {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    background: transparent;
    border: 0.125rem solid #3D5124;
    border-radius: 3.125rem;
    color: #3D5124;
    font-size: 1rem;
    letter-spacing: 0;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    text-transform: none; }
    .field--name-bene-listing-view .view-filters input[type=submit]:hover {
      background-color: #3D5124;
      color: #ffffff; }
  .field--name-bene-listing-view .view-filters input[type=submit]#edit-reset {
    background: none;
    color: #3D5124;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    padding: 0;
    float: right;
    font-size: 0.8125rem;
    letter-spacing: 0;
    margin-right: 0; }
    .field--name-bene-listing-view .view-filters input[type=submit]#edit-reset:hover {
      color: #7F7C74; }
  .field--name-bene-listing-view .view-filters input[type=date] {
    background: #ffffff url("../img/calendar.svg") 1rem center no-repeat;
    padding-left: 3rem; }
.field--name-bene-listing-view .view-content {
  display: block;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  margin-left: 8.5298042998%;
  margin-right: 0; }
  .field--name-bene-listing-view .view-content:last-child {
    margin-right: 0; }
  @media (max-width: 414px) {
    .field--name-bene-listing-view .view-content {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-left: 0%; }
      .field--name-bene-listing-view .view-content:last-child {
        margin-right: 0; } }
  @media (min-width: 769px) and (max-width: 1239px) {
    .field--name-bene-listing-view .view-content {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-left: 0%; }
      .field--name-bene-listing-view .view-content:last-child {
        margin-right: 0; } }
.field--name-bene-listing-view .views-row {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  clear: both;
  border-bottom: 0.25rem solid #f4f4f4;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }
  .field--name-bene-listing-view .views-row:last-child {
    margin-right: 0; }
  .field--name-bene-listing-view .views-row:last-child {
    border-bottom: none; }
.field--name-bene-listing-view .node--view-mode-teaser .image,
.field--name-bene-listing-view .node--view-mode-search-result .image {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  .field--name-bene-listing-view .node--view-mode-teaser .image:last-child,
  .field--name-bene-listing-view .node--view-mode-search-result .image:last-child {
    margin-right: 0; }
  @media (max-width: 414px) {
    .field--name-bene-listing-view .node--view-mode-teaser .image,
    .field--name-bene-listing-view .node--view-mode-search-result .image {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .field--name-bene-listing-view .node--view-mode-teaser .image:last-child,
      .field--name-bene-listing-view .node--view-mode-search-result .image:last-child {
        margin-right: 0; } }
  .field--name-bene-listing-view .node--view-mode-teaser .image img,
  .field--name-bene-listing-view .node--view-mode-search-result .image img {
    height: auto;
    width: 100%; }
.field--name-bene-listing-view .node--view-mode-teaser .text,
.field--name-bene-listing-view .node--view-mode-search-result .text {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 65.8807828007%;
  margin-left: 2.132451075%; }
  .field--name-bene-listing-view .node--view-mode-teaser .text:last-child,
  .field--name-bene-listing-view .node--view-mode-search-result .text:last-child {
    margin-right: 0; }
  @media (max-width: 414px) {
    .field--name-bene-listing-view .node--view-mode-teaser .text,
    .field--name-bene-listing-view .node--view-mode-search-result .text {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%;
      margin-left: 0%; }
      .field--name-bene-listing-view .node--view-mode-teaser .text:last-child,
      .field--name-bene-listing-view .node--view-mode-search-result .text:last-child {
        margin-right: 0; } }
.field--name-bene-listing-view .node--view-mode-search-result .field--name-bene-event-date-range {
  color: #474337;
  margin: 0;
  padding: 0;
  float: none;
  width: 100%;
  font-size: 1rem;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 400; }
.field--name-bene-listing-view .node--view-mode-teaser h4,
.field--name-bene-listing-view .node--view-mod-search-result h4 {
  margin-bottom: 1rem; }
.field--name-bene-listing-view .node--view-mode-teaser .field--name-bene-intro,
.field--name-bene-listing-view .node--view-mode-teaser .field--name-bene-intro,
.field--name-bene-listing-view .node--view-mode-search-result .field--name-bene-intro,
.field--name-bene-listing-view .node--view-mode-search-result .field--name-bene-intro p {
  margin-top: 0;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.125rem;
  padding: 0;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%; }

.mobile-menu-toggle {
  z-index: 1;
  position: absolute; }
  .mobile-menu-toggle div:hover span,
  .mobile-menu-toggle div span {
    background-color: #3D5124; }
    .mobile-menu-toggle div:hover span:before, .mobile-menu-toggle div:hover span:after,
    .mobile-menu-toggle div span:before,
    .mobile-menu-toggle div span:after {
      background-color: #3D5124; }
  .mobile-menu-toggle.active div span {
    background-color: transparent; }
    .mobile-menu-toggle.active div span:before, .mobile-menu-toggle.active div span:after {
      background-color: #3D5124; }

.mobile-nav .region-primary-nav {
  background: #3D5124; }
.mobile-nav .menu a {
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  text-transform: none; }
  .mobile-nav .menu a:after {
    display: none; }
.mobile-nav .menu--utility .menu li a {
  font-size: 1.125rem;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  padding: 0.5rem 1rem; }
.mobile-nav .menu--utility .menu li:last-child a {
  color: #ffffff;
  background: none; }

#block-benenewslettersignup {
  background: #285E71; }
  #block-benenewslettersignup .external-newsletter h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-weight: 600; }
  #block-benenewslettersignup input[type='submit'] {
    text-transform: capitalize; }
  @media (max-width: 414px) {
    #block-benenewslettersignup .external-newsletter .mailchimp-signup-subscribe-form,
    #block-benenewslettersignup .external-newsletter .mailchimp-newsletter-mergefields {
      flex-direction: column;
      align-items: center; } }

.external-newsletter {
  background: #285E71;
  display: block;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center; }
  .external-newsletter::after {
    clear: both;
    content: "";
    display: table; }
  .external-newsletter form .form-item {
    text-align: left; }
    @media (max-width: 414px) {
      .external-newsletter form .form-item {
        width: auto; } }
  .external-newsletter p,
  .external-newsletter h4 {
    color: #f9f9f9;
    font-size: 1.625rem;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: none;
    display: inline-block; }
    @media (max-width: 414px) {
      .external-newsletter p,
      .external-newsletter h4 {
        font-size: 1.25rem;
        margin-bottom: 1rem; } }
  .external-newsletter a.button {
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    background: transparent;
    border: 0.125rem solid #ffffff;
    border-radius: 3.125rem;
    color: #ffffff;
    font-size: 1.25rem;
    letter-spacing: 0;
    margin-left: 1rem;
    padding: 0.75rem 3rem; }
    .external-newsletter a.button:hover {
      background-color: #ffffff;
      color: #285E71; }

.site-header .desktop-nav .menu--main .menu .menu-item {
  margin-left: 0; }

.site-header .desktop-nav .menu--utility .menu .menu-item {
  margin-left: 1rem; }

.site-header .logo-wrapper {
  display: block; }
  @media (max-width: 414px) {
    .site-header .logo-wrapper {
      align-items: left;
      max-width: 70%; } }
  @media (min-width: 769px) {
    .site-header .logo-wrapper .region-site-branding {
      line-height: 5.8rem; } }
  @media (max-width: 414px) {
    .site-header .logo-wrapper .site-logo {
      display: block;
      margin-top: 0.75rem; } }
  .site-header .logo-wrapper img {
    width: 100%;
    vertical-align: bottom; }

.block-bene-sub-navigation-block {
  background-color: #ffffff;
  margin-bottom: 2rem;
  text-align: left;
  padding: 1rem 2%;
  position: relative;
  z-index: 5; }
  @media (max-width: 414px) {
    .block-bene-sub-navigation-block {
      background-color: #ffffff;
      padding: 1rem 0 1.5rem 0;
      z-index: 10; } }
  .block-bene-sub-navigation-block ul li {
    list-style: none; }
  .block-bene-sub-navigation-block > ul.menu > li > a {
    color: #3D5124;
    display: inline-block;
    font-size: 0.9375rem;
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-weight: 600;
    text-decoration: underline; }
    @media (max-width: 414px) {
      .block-bene-sub-navigation-block > ul.menu > li > a {
        background: url("../img/caret.svg") no-repeat center bottom;
        display: block;
        padding-right: 0;
        padding-bottom: 1rem;
        text-align: center; } }
    .block-bene-sub-navigation-block > ul.menu > li > a::after {
      content: '|';
      display: inline-block;
      padding-left: 0.5rem;
      margin-right: 0.5rem; }
      @media (max-width: 414px) {
        .block-bene-sub-navigation-block > ul.menu > li > a::after {
          display: none; } }
  .block-bene-sub-navigation-block ul.menu ul.menu {
    display: inline-block; }
    @media (max-width: 414px) {
      .block-bene-sub-navigation-block ul.menu ul.menu {
        display: none;
        margin-top: 1rem;
        text-align: center; } }
    @media (max-width: 414px) {
      .block-bene-sub-navigation-block ul.menu ul.menu.open {
        display: block;
        margin-top: 1rem;
        text-align: center; } }
  .block-bene-sub-navigation-block ul.menu ul.menu li {
    display: inline;
    margin-left: 0;
    margin-right: 1rem; }
    @media (max-width: 414px) {
      .block-bene-sub-navigation-block ul.menu ul.menu li {
        margin-right: 0;
        display: list-item; } }
  .block-bene-sub-navigation-block ul.menu ul.menu li a {
    color: #474337;
    font-size: 0.9375rem; }
    .block-bene-sub-navigation-block ul.menu ul.menu li a:hover {
      color: #3D5124; }

.paragraph--type--tiles .field--name-field-tiles {
  padding: 0; }
.paragraph--type--tiles > .field--name-field-title {
  color: #285E71;
  font-size: 2rem;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-weight: 700; }
.paragraph--type--tiles .field--name-field-tiles > .field__item {
  margin-bottom: 0;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  text-align: left; }
  @media (min-width: 769px) {
    .paragraph--type--tiles .field--name-field-tiles > .field__item {
      margin-bottom: 0; } }
  @media (min-width: 769px) and (max-width: 1239px) {
    .paragraph--type--tiles .field--name-field-tiles > .field__item {
      margin-bottom: 1rem; } }
.paragraph--type--tiles .field--name-field-tiles > .field__item .tile-text.center {
  text-align: center; }
.paragraph--type--tiles .field--name-field-tiles > .field__item .tile-text.right {
  text-align: right; }
.paragraph--type--tiles .field--name-field-tiles > .field__item .field--name-field-image {
  height: auto;
  width: 100%; }

.paragraph--type--tiles .field--name-field-tiles > .field__item .paragraph--type--tile .bg-header {
  display: none; }
.paragraph--type--tiles .field--name-field-tiles > .field__item .paragraph--type--tile .field--name-field-image {
  line-height: 0;
  width: 100%; }
  .paragraph--type--tiles .field--name-field-tiles > .field__item .paragraph--type--tile .field--name-field-image img {
    width: 100%; }
.paragraph--type--tiles .field--name-field-tiles > .field__item .paragraph--type--tile .tile-text {
  background-color: #ffffff;
  padding: 1rem; }
.paragraph--type--tiles .field--name-field-tiles > .field__item .paragraph--type--tile .tile-text > a {
  font-size: 1.5rem; }
  .paragraph--type--tiles .field--name-field-tiles > .field__item .paragraph--type--tile .tile-text > a:hover {
    color: #3D5124; }
  .paragraph--type--tiles .field--name-field-tiles > .field__item .paragraph--type--tile .tile-text > a .field--name-field-title {
    font-size: 1.5rem;
    margin-top: 0; }
.paragraph--type--tiles .field--name-field-tiles > .field__item .paragraph--type--tile .field--name-field-link a {
  font-size: 1.125rem;
  line-height: 1.9375rem;
  text-decoration: underline; }
  .paragraph--type--tiles .field--name-field-tiles > .field__item .paragraph--type--tile .field--name-field-link a:hover {
    color: #3D5124; }
.paragraph--type--tiles .field--name-field-tiles > .field__item .paragraph--type--tile .tile-text a .field--name-field-title {
  margin-top: 0; }

/*# sourceMappingURL=style.css.map */
